In [1]:
import pandas as pd

Reading in .dta file

In [2]:
ppp_df = pd.read_stata('master-PPP-file.dta')

ppp_df

,loannumber,dateapproved,sbaofficecode,processingmethod,borrowername,borroweraddress,borrowercity,borrowerstate,borrowerzip,loanstatusdate,...,businesstype,originatinglenderlocationid,originatinglender,originatinglendercity,originatinglenderstate,gender,veteran,nonprofit,forgivenessamount,forgivenessdate
0,9.547508e+09,05/01/2020,464.0,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,,29150-9662,12/18/2020,...,Corporation,19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,,773553.375000,11/20/2020
1,9.777678e+09,05/01/2020,464.0,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,,29420-9000,09/28/2021,...,Sole Proprietorship,19248.0,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,,746336.250000,08/12/2021
2,5.791408e+09,05/01/2020,1013.0,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,,98112-2922,03/17/2021,...,Non-Profit Organization,9551.0,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,696677.500000,02/10/2021
3,6.223568e+09,05/01/2020,920.0,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,,92407-1740,10/16/2021,...,Corporation,9551.0,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,,395264.125000,09/10/2021
4,9.662438e+09,05/01/2020,101.0,PPP,AERO BOX LLC,N/A,N/A,,,08/17/2021,...,,57328.0,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,,370819.343750,04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11468433,9.160347e+09,05/01/2020,897.0,PPP,"NATURALLY BEAUTIFUL YOU, LLC",4510 E 22ND ST,CASPER,WY,82609-4659,02/19/2021,...,Limited Liability Company(LLC),77183.0,The Converse County Bank,DOUGLAS,WY,Female Owned,Unanswered,,261.709991,01/07/2021
11468434,8.452319e+09,03/24/2021,897.0,PPP,K & M APIARY LLC,1707 Gray Blvd,Newcastle,WY,82701-3140,01/11/2022,...,Partnership,77248.0,Pinnacle Bank-Wyoming,CODY,WY,Unanswered,Unanswered,,258.329987,12/23/2021
11468435,5.991059e+09,05/01/2021,897.0,PPP,SELLE REMUDA LLC,1515 Two Rivers Rd,Bosler,WY,82051-8901,02/12/2022,...,Limited Liability Company(LLC),15169.0,ANB Bank,DENVER,CO,Male Owned,Non-Veteran,,251.839996,01/28/2022
11468436,6.164059e+09,03/20/2021,897.0,PPP,SARAH KLUVER,109 Roma Drive,Worland,WY,82401,10/08/2021,...,Sole Proprietorship,77108.0,Security State Bank,BASIN,WY,Unanswered,Unanswered,,251.240005,09/27/2021
11468437,5.170999e+09,03/20/2021,897.0,PPP,RAYMOND MILLER,4748 Road 74,Torrington,WY,82240-8220,08/14/2021,...,Self-Employed Individuals,42213.0,Banner Capital Bank,HARRISBURG,NE,Unanswered,Unanswered,,236.710007,07/08/2021

Cleaning Data

In [4]:
columns_lst = ['projectcountyname', 'projectstate', 'initialapprovalamount', 'currentapprovalamount', 'undisbursedamount', 'jobsreported', 'payroll_proceed', 'mortgage_interest_proceed', 'rent_proceed', 'refinance_eidl_proceed', 'health_care_proceed', 'debt_interest_proceed', 'forgivenessamount']
ppp_df = ppp_df[columns_lst]
ppp_df = ppp_df.fillna(0)

ppp_df

,projectcountyname,projectstate,initialapprovalamount,currentapprovalamount,undisbursedamount,jobsreported,payroll_proceed,mortgage_interest_proceed,rent_proceed,refinance_eidl_proceed,health_care_proceed,debt_interest_proceed,forgivenessamount
0,SUMTER,SC,769358.750000,769358.750000,0.0,62.0,769358.750000,0.0,0.0,0.0,0.0,0.0,773553.375000
1,CHARLESTON,SC,736927.812500,736927.812500,0.0,73.0,736927.812500,0.0,0.0,0.0,0.0,0.0,746336.250000
2,KING,WA,691355.000000,691355.000000,0.0,75.0,691355.000000,0.0,0.0,0.0,0.0,0.0,696677.500000
3,SAN BERNARDINO,CA,499871.000000,499871.000000,0.0,21.0,499871.000000,0.0,0.0,0.0,0.0,0.0,395264.125000
4,,NA,367437.000000,367437.000000,0.0,25.0,367437.000000,0.0,0.0,0.0,0.0,0.0,370819.343750
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11468433,NATRONA,WY,260.000000,260.000000,0.0,1.0,200.000000,0.0,0.0,0.0,0.0,0.0,261.709991
11468434,WESTON,WY,256.450012,256.450012,0.0,2.0,250.449997,0.0,0.0,0.0,0.0,0.0,258.329987
11468435,ALBANY,WY,250.000000,250.000000,0.0,1.0,250.000000,0.0,0.0,0.0,0.0,0.0,251.839996
11468436,WASHAKIE,WY,250.000000,250.000000,0.0,1.0,250.000000,0.0,0.0,0.0,0.0,0.0,251.240005
11468437,GOSHEN,WY,236.020004,236.020004,0.0,1.0,235.020004,0.0,0.0,0.0,0.0,0.0,236.710007

Combine Rows

In [5]:
combined_df = ppp_df.groupby(['projectcountyname', 'projectstate'], as_index=False)[columns_lst[2:]].sum()

combined_df

,projectcountyname,projectstate,initialapprovalamount,currentapprovalamount,undisbursedamount,jobsreported,payroll_proceed,mortgage_interest_proceed,rent_proceed,refinance_eidl_proceed,health_care_proceed,debt_interest_proceed,forgivenessamount
0,,,6.499459e+05,6.499459e+05,0.0,60.0,6.292369e+05,0.000000,2.016400e+04,0.0,0.000000,0.000000,6.134744e+05
1,,AE,1.312500e+04,1.312500e+04,0.0,3.0,1.312500e+04,0.000000,0.000000e+00,0.0,0.000000,0.000000,1.319208e+04
2,,AK,9.560400e+04,8.560400e+04,0.0,19.0,6.708300e+04,0.000000,1.512500e+04,0.0,0.000000,0.000000,8.636332e+04
3,,AL,1.503246e+06,1.503246e+06,0.0,152.0,1.503246e+06,0.000000,0.000000e+00,0.0,0.000000,0.000000,1.503010e+06
4,,AZ,7.739508e+05,7.739508e+05,0.0,451.0,6.959628e+05,0.000000,5.671300e+04,0.0,0.000000,0.000000,7.579708e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3271,YUMA,AZ,2.140386e+08,2.139931e+08,0.0,31514.0,2.113358e+08,80695.117188,1.088124e+06,220386.5,110412.000000,145610.000000,2.071703e+08
3272,YUMA,CO,3.504316e+07,3.507220e+07,0.0,3894.0,3.351429e+07,282789.687500,1.694967e+05,0.0,250408.234375,9264.419922,3.505620e+07
3273,ZAPATA,TX,1.150684e+07,1.134254e+07,0.0,1678.0,1.130017e+07,1504.929932,1.125000e+03,500.0,25747.000000,0.000000,1.086531e+07
3274,ZAVALA,TX,6.551153e+06,6.532161e+06,0.0,1235.0,6.417784e+06,6065.990234,2.467500e+04,2725.0,41518.000000,4000.000000,5.856184e+06
3275,ZIEBACH,SD,3.030226e+06,3.065335e+06,0.0,260.0,3.042832e+06,7677.000000,9.710000e+02,0.0,0.000000,0.000000,3.071182e+06

Copy to .dta file

In [6]:
combined_df.to_stata('collapsed-county-PPP.dta')